body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas{
    background-color: black;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.d-none {
    display: none !important;
}

.content {
    margin-top: 170px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.content h2 {
    margin-top: 0;
    color: #ff9900;
}

.content p {
    margin: 10px 0;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ff9900;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.2s;
}

button:hover {
    background-color: #cc7a00;
    transform: scale(1.05);
}

#startScreen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
}

#gameOverScreen {
    background-image: url('img/9_intro_outro_screens/game_over/game over!.png');
}

#winScreen {
    background-color: rgba(0, 0, 0, 0.8);
}

#winScreen h1 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 0px black;
    margin-top: 0;
}

#winScreen p {
    color: white;
    font-size: 20px;
}